<script>
import { GlButton, GlCard } from '@gitlab/ui';
import CodeHighlight from './code_display.vue';

export default {
  name: 'IndexPage',
  components: {
    GlButton,
    GlCard,
    CodeHighlight,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    language: {
      type: String,
      required: true,
    },
    source: {
      type: String,
      required: false,
      default: '',
    },
    test: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data: () => ({
    currentQuestion: '',
    currentSource: '',
    loading: false,
    testResults: null,
    questions: [],
  }),
  fetchOnServer: false,
  computed: {
    finalSource() {
      return this.test ? this.test.result : this.source;
    },
  },
  async mounted() {},
  methods: {},
};
</script>

<template>
  <div class="">
    <gl-card class="gl-mt-6">
      <template #header> {{ name }} </template>
      <template #default>
        <code-highlight
          :language="language"
          :source="finalSource"
        ></code-highlight>
      </template>
      <template #footer>
        <div class="gl-display-flex">
          <div v-if="test && test.duration" class="gl-flex-grow-1">
            <strong>{{ Math.round(test.duration * 1000) / 1000 }}s</strong> for
            <strong>{{ test.result_length }}</strong> characters
          </div>
          <div class="gl-text-align-right">
            <span>Correct? </span>
            <gl-button
              category="secondary"
              size="small"
              :selected="false"
              :block="false"
              :disabled="false"
              class="gl-ml-3"
              icon="thumb-up"
            >
            </gl-button>
            <gl-button
              category="secondary"
              size="small"
              :selected="false"
              :block="false"
              :disabled="false"
              class="gl-ml-3"
              icon="thumb-down"
            >
            </gl-button>
          </div>
        </div>
      </template>
    </gl-card>
  </div>
</template>

<style scoped></style>
