<script>
import { GlIcon } from '@gitlab/ui';

export default {
  components: {
    GlIcon,
  },
  props: {
    sourceObject: {
      type: Object,
      required: true,
    },
  },
  fetchOnServer: false,
  computed: {
    cleanedSource() {
      return this.sourceObject.source
        .replace('.md.erb', '')
        .replace('.md', '')
        .replace('doc/', '')
        .replace('handbook/', '')
        .replace('blog/', '');
    },
    generatedLink() {
      if (this.sourceObject.source_type === 'doc') {
        return (
          'https://docs.gitlab.com/ce/' +
          this.sourceObject.source.replace('.md', '').replace('doc/', '')
        );
      } else if (this.sourceObject.source_type === 'handbook') {
        return (
          'https://about.gitlab.com/handbook/' +
          this.sourceObject.source.replace('.md', '').replace('handbook/', '')
        );
      } else if (this.sourceObject.source_type === 'blog') {
        if (this.sourceObject.canonical_path) {
          return (
            'https://about.gitlab.com/' +
            this.fixValues(this.sourceObject.canonical_path)
          );
        }
        const baseBlog = this.sourceObject.source
          .replace('.md', '')
          .replace('.html', '')
          .replace('.erb', '')
          .replace('blog/', '');
        const dates = baseBlog.split('-');
        return (
          'https://about.gitlab.com/blog/' +
          dates[0] +
          '/' +
          dates[1] +
          '/' +
          dates[2] +
          '/' +
          baseBlog.substr(11)
        );
      }
      return '';
    },
    extraInfo() {
      if (this.sourceObject.source_type === 'doc') {
        return (
          ' (' + this.sourceObject.stage + ' / ' + this.sourceObject.group + ')'
        );
      } else if (this.sourceObject.source_type === 'blog') {
        return (
          ' (' +
          (this.sourceObject.date || '') +
          ' / ' +
          this.sourceObject.author +
          ')'
        );
      }
      return '';
    },
    sourceIcon() {
      if (this.sourceObject.source_type === 'doc') {
        return 'documents';
      } else if (this.sourceObject.source_type === 'handbook') {
        return 'book';
      } else if (this.sourceObject.source_type === 'blog') {
        return 'list-bulleted';
      }
      return '';
    },
  },
  methods: {
    fixValues(text) {
      return text.replaceAll('"', '');
    },
  },
};
</script>

<template>
  <div class="gl-my-2">
    <gl-icon :name="sourceIcon" class="gl-mr-2" />
    <a class="" :href="generatedLink" target="ext_source">
      {{ fixValues(sourceObject.title || cleanedSource) }} {{ extraInfo }}
    </a>
  </div>
</template>
